@font-face {
    font-family: "ARCO";
    src: url("https://statics.pipeflare.io/assets/fonts/ARCO.woff2") format("woff2"),
         url("https://statics.pipeflare.io/assets/fonts/ARCO.woff") format("woff");
}

* {
    color: #00ffd1;
    font-size: 40px;
    font-family: 'ARCO';
}

#contestant-name {
    color: white;
    font-size: 14px;
}

.contestant-content-image {
    border: 4px solid purple;
}
